/* @File Banco.java
 * @Author Igor Barroso Almeida
 * @Brief CSS utilizado para estilização
 * do HTML da barbearia alura 
 * @Date 07/12/2022 
*/

.titulo-principal{
    padding-left: 20px;
}

.principal{
    background: #CCCCCC;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: red;
}

#banner{
    width: 100%;
}

.item {
    font-style: italic;
}

.beneficios{
    background: #FFFFFF;
    padding: 20px;
}

.imagemBeneficios{
    width: 50%;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}