:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal: 'Inter';
}

body {
    color: var(--branco-principal);
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

/* Primeira seção */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
    text-align: center;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.containter__combo {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

/* Segunda seção */
.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
    justify-self: center;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.2em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

/* Terceira seção */
.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

/* Seção de dispositivos */
.dispositivos__lista {
    display: flex;
    justify-content: center;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    font-weight: 700;
    color: var(--branco-principal);
}

/* rodapé */
.rodape {
    text-align: center;
    margin: 6em 6em 4em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    margin: 2.5em 0 2em 0;
}

.lista__link a {
    margin: 0 .5em;
}

.rodape__texto {
    margin: .5em 0 1.5em 0;
    font-size: 14px;
    color: var(--cinza-secundario);
    line-height: 21px;
}

.lista__link:hover {
    color: var(--cinza-secundario);
}

.lista__link:active {
    color: var(--botao-azul);
}